<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>ZumbaRegistry</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ParticipantControllerServlet</display-name>
    <servlet-name>ParticipantControllerServlet</servlet-name>
    <servlet-class>com.example.ZumbaRegistry.controller.ParticipantControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParticipantControllerServlet</servlet-name>
    <url-pattern>/ParticipantControllerServlet</url-pattern>
    <url-pattern>/ParticipantController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParticipantUpdateServlet</display-name>
    <servlet-name>ParticipantUpdateServlet</servlet-name>
    <servlet-class>com.example.ZumbaRegistry.controller.ParticipantUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParticipantUpdateServlet</servlet-name>
    <url-pattern>/ParticipantUpdateServlet</url-pattern>
    <url-pattern>/UpdateParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BatchControllerServlet</display-name>
    <servlet-name>BatchControllerServlet</servlet-name>
    <servlet-class>com.example.ZumbaRegistry.controller.BatchControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchControllerServlet</servlet-name>
    <url-pattern>/BatchControllerServlet</url-pattern>
    <url-pattern>/AddBatch</url-pattern>
  </servlet-mapping>
</web-app>